body {
  margin: 0;
}

.App {
  font-family: "Maitree", serif;
  text-align: center;
  color: #43a047;
}

h1 {
  margin-bottom: 0;
}

.img-custom {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#nav{
  text-decoration: none;
  color: white;
  padding: 0px 20px;
}

#navbar{
  display: flex;
  justify-content: center;
}

#boton{
  display: flex;
  justify-content: flex-end;
}